<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>React template</title>
</head>
<body>
<!-- ... React component ... -->

<div id="like-button-container"></div>

<!-- ... End React component ... -->

<!-- Загрузим React. -->
<!-- Примечание: при деплое на продакшен замените «development.js» на «production.min.js». -->
<script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>  <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
<!-- Загрузим наш React-компонент. -->
<script src="js/like-button.js"></script>
</body>
</html>